@import "tailwindcss";

body{
  background-color: white;
}

.primeBg{
  background-color: rgb(26,104,91);
}

.primeTxt {
  color: rgb(26,104,91);
}

.scondBg{
  background-color: rgb(255,172,0);
  
}

.scondTxt{
  color: rgb(255,172,0);
  
}

.lightBg{
  background-color: rgb(242,233,218) ;
}

.lightTxt{
  color: rgb(121, 121, 126);
}


.boxShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

@media (min-width: 768px) {
  .carboxShadow {
    padding: 2.5rem;
  }
}

.boxShadow:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25); 
  transform: translateY(-0.25rem); 
}

.loginLable{
    display: block;
  font-size: 0.875rem;          
  font-weight: 600;            
  margin-bottom: 0.5rem;  
  color: rgb(26,104,91);

}

@media (min-width: 768px) {
  .loginLable {
    font-size: 1.25rem;         
  }
}


  .loginInput {
  width: 100%;                  
  padding: 0.5rem 0.75rem;      
  border: 1px solid #ccc;      
  border-radius: 0.5rem;        
  font-size: 0.875rem;          
  outline: none;                
  box-sizing: border-box;       
}

.loginInput:focus {
  border: 1px solid rgb(255,172,0);      
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
}

.postBtn{
  
}